<%- include('../partials/admin/header') %> 
 <!-- Include header from partials -->
<h1>Welcome to the Admin Dashboard</h1>
<%- include('../partials/admin/footer') %>  <!-- Include footer from partials -->