<%- include('../partials/admin/header') %>  
 <!-- Include header from partials -->

      <!-- Main Content Area -->
       <main class="flex-1 p-8 ml-0 lg:ml-64 transition-all duration-300">
        <div class="bg-white p-6 rounded-lg shadow-md">
            <h1 class="text-3xl font-bold mb-4">Welcome to the Admin Dashboard</h1>
            <p class="text-gray-700">Manage your website's products, orders, and other settings from this admin panel.</p>
        </div>
    </main>
</div>
 
<%- include('../partials/admin/footer') %> 
