<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin Dashboard</title>
</head>
<body>
  <!-- Sidebar (partial) -->
  <%- include('../partials/admin/header') %> 
  
  <div id="main-content">
    <!-- Main content injected here -->
    <%- body %>  <!-- This is where your specific page content goes -->
  </div>
    
   
<%- include('../partials/admin/footer') %> 
</body>
</html>
