<%- include('../partials/user/userheader') %> 
<%- include('../partials/user/userProfile') %>

    <!-- Main Content -->
    <main class="absolute inset-0 lg:ml-60 flex items-center justify-center p-8" style="top: -20%;">
        <div class="flex flex-col items-center justify-center">
          <!-- Icon -->
          <div class="w-24 h-24 bg-green-100 flex items-center justify-center rounded-full mb-6">
            <i class="fas fa-heart text-4xl text-green-500"></i>
          </div>
          <!-- Message -->
          <h2 class="text-2xl font-semibold text-gray-800 mb-2">Your wishlist is empty.</h2>
          <p class="text-gray-600 text-center mb-6">
            You don’t have any products in the wishlist yet. Explore our shop page to find interesting products.
          </p>
          <!-- Button -->
          <a href="#" class="px-8 py-3 bg-yellow-500 text-white font-medium text-lg rounded-lg shadow-md hover:bg-yellow-600 transition">
            Continue Shopping
          </a>
        </div>
      </main>
      
      
  </div>


<%- include('../partials/user/userfooter') %> 